src/integration-test/resources/expected/complex.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright 2020 University of Oxford and Health and Social Care Information Centre, also known as NHS Digital

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

    SPDX-License-Identifier: Apache-2.0

-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
           targetNamespace="https://metadatacatalogue.com/xsd/test/complex/1.0" xmlns="https://metadatacatalogue.com/xsd/test/complex/1.0">
  <xs:annotation>
    <xs:documentation>
      <p>Name: XSD Test: Complex model<br />Author: Test Author<br />Organisation: Test Org<br />Description: Test description<br />Last Updated: 2017-09-13T15:08:01.517+01:00<br />
      </p>
    </xs:documentation>
  </xs:annotation>
  <xs:element name="topElement" type="topElementType-131105263">
    <xs:annotation>
      <xs:documentation>The top element complex type</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="allLType-133044847">
    <xs:annotation>
      <xs:documentation>An all complex type</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element maxOccurs="1" minOccurs="1" name="Element_J_Decimal" type="anotherNumberWithRestrictions-113550831" />
      <xs:element maxOccurs="1" minOccurs="1" name="element-J-number" type="numberWithRestrictions-113134575" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="choiceBType-134142127">
    <xs:annotation>
      <xs:documentation>A choice complex type</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="0" name="mappingId" type="gUID-101320495" />
      </xs:sequence>
      <xs:choice>
        <xs:element maxOccurs="1" minOccurs="1" name="elementE" type="xs:date">
          <xs:annotation>
            <xs:documentation>The choice for date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element maxOccurs="1" minOccurs="1" name="elementF" type="xs:dateTime">
          <xs:annotation>
            <xs:documentation>The choice for datetime</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="complexMType-133044847">
    <xs:annotation>
      <xs:documentation>A complex element which extends another</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="elementN" type="mandatoryString-108740847" />
        <xs:element maxOccurs="1" minOccurs="0" name="mappingId" type="gUID-101320495" />
      </xs:sequence>
      <xs:choice>
        <xs:element maxOccurs="1" minOccurs="1" name="elementE" type="xs:date">
          <xs:annotation>
            <xs:documentation>The choice for date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element maxOccurs="1" minOccurs="1" name="elementF" type="xs:dateTime">
          <xs:annotation>
            <xs:documentation>The choice for datetime</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="complexTypeQType-134142127">
    <xs:sequence>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="elementR" type="choiceBType-134142127" />
        <xs:element maxOccurs="1" minOccurs="0" name="elementS" type="mandatoryString-108740847" />
        <xs:element maxOccurs="1" minOccurs="0" name="elementY" type="choiceBType-134142127" />
      </xs:sequence>
      <xs:choice>
        <xs:element maxOccurs="1" minOccurs="1" name="elementT" type="xs:decimal" />
        <xs:element maxOccurs="1" minOccurs="1" name="elementU" type="numberWithRestrictions-113134575" />
      </xs:choice>
      <xs:choice>
        <xs:element maxOccurs="unbounded" minOccurs="1" name="elementW" type="stringWithRestrictions-116587695" />
        <xs:element maxOccurs="unbounded" minOccurs="1" name="elementX" type="patternedString-115490415" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="elementPType-132072495">
    <xs:sequence>
      <xs:element default="Hello" maxOccurs="1" minOccurs="1" name="elementA" type="xs:string">
        <xs:annotation>
          <xs:documentation>This is a simple string which is fixed to 'Hello'</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element default="Y" maxOccurs="1" minOccurs="1" name="elementB" type="enumeratedString-107774639">
        <xs:annotation>
          <xs:documentation>This is an enumerated string</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="elementC" type="elementC-105713199">
        <xs:annotation>
          <xs:documentation>This is an optional local enumerated string</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="1" name="elementD" type="choiceBType-134142127">
        <xs:annotation>
          <xs:documentation>This is a list of a new complex type which provides a choice of date or datetime</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="1" name="elementG" type="mandatoryString-108740847">
        <xs:annotation>
          <xs:documentation>This is a string entry where there must be contents in the element</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="topElementType-131105263">
    <xs:annotation>
      <xs:documentation>The top element complex type</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" name="ElementK" type="allLType-133044847">
        <xs:annotation>
          <xs:documentation>An element with an all complex element</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="1" name="element-i" type="stringWithRestrictions-116587695">
        <xs:annotation>
          <xs:documentation>remaining restrictions applied to a string</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="1" name="elementO" type="complexMType-133044847" />
      <xs:element maxOccurs="1" minOccurs="1" name="elementP" type="elementPType-132072495">
        <xs:annotation>
          <xs:documentation>Element with a local complex type</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="1" name="elementV" type="complexTypeQType-134142127" />
      <xs:element maxOccurs="1" minOccurs="1" name="element_H" type="patternedString-115490415">
        <xs:annotation>
          <xs:documentation>regex string</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="anotherNumberWithRestrictions-113550831">
    <xs:restriction base="xs:decimal">
      <xs:totalDigits value="2" />
      <xs:fractionDigits value="2" />
      <xs:minInclusive value="0" />
      <xs:maxExclusive value="100" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="elementC-105713199">
    <xs:restriction base="xs:string">
      <xs:enumeration value="1">
        <xs:annotation>
          <xs:documentation>Possible</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="2">
        <xs:annotation>
          <xs:documentation>Not Possible</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="3">
        <xs:annotation>
          <xs:documentation>Probable</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="enumeratedString-107774639">
    <xs:annotation>
      <xs:documentation>An enumeration</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Y">
        <xs:annotation>
          <xs:documentation>Yes</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="N">
        <xs:annotation>
          <xs:documentation>No</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="U">
        <xs:annotation>
          <xs:documentation>Unknown</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="gUID-101320495">
    <xs:restriction base="xs:string">
      <xs:pattern
        value="([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12})|(\{[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}\})" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="mandatoryString-108740847">
    <xs:annotation>
      <xs:documentation>A mandatory string type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="numberWithRestrictions-113134575">
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="1" />
      <xs:maxExclusive value="100" />
      <xs:totalDigits value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="patternedString-115490415">
    <xs:restriction base="xs:string">
      <xs:pattern value="\w+\.\w+" />
      <xs:minLength value="3" />
      <xs:maxLength value="20" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="stringWithRestrictions-116587695">
    <xs:restriction base="xs:string">
      <xs:length value="15" />
      <xs:whiteSpace value="replace" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
