src/integration-test/resources/mixedDataTypesOnly.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" elementFormDefault="qualified"
           xmlns="https://genomicsengland.co.uk/xsd/cancer/3.1.2" targetNamespace="https://genomicsengland.co.uk/xsd/cancer/3.1.2"
           vc:minVersion="1.1">
  <xs:complexType name="metadata">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" name="schema-name">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="CarePlansCancer" />
            <xs:enumeration value="ConsentUpdatesCancer" />
            <xs:enumeration value="DeathsCancer" />
            <xs:enumeration value="DiagnosesCancer" />
            <xs:enumeration value="DiseaseInformationUpdatesCancer" />
            <xs:enumeration value="InterventionsCancer" />
            <xs:enumeration value="InvestigationsCancer" />
            <xs:enumeration value="PresentationsCancer" />
            <xs:enumeration value="ReasonsSamplesNotSentCancer" />
            <xs:enumeration value="RegistrationAndConsentsCancer" />
            <xs:enumeration value="RiskFactorAssessmentsCancer" />
            <xs:enumeration value="WithdrawalsCancer" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="1" name="schema-version">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="3.1.2" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="1" name="date-time" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>
                        <p>The dateTime that this file was generated</p>
                    </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="1" name="source-organisation">
        <xs:annotation>
          <xs:documentation>
                        <p>ODS code of the source organisation within the GMC sending the message</p>
                    </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="source-system" type="xs:string">
        <xs:annotation>
          <xs:documentation>
                        <p>Source system. Optional but may be used to supply source with information if there are any issues with the submitted XML.
                        </p>
                    </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="local-report-id" type="xs:string">
        <xs:annotation>
          <xs:documentation>
                        <p>Source system report Id. Optional but may be used to supply source with information if there are any issues with the
                            submitted XML.
                        </p>
                    </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="participant-identifiers-39047">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" name="person-identifier" type="person-identifier-42125">
        <xs:annotation>
          <xs:documentation>Choice of one of either NHS Number (Wales &amp; England) OR CHI Number (Scotland) OR Health and Care Number
                        (Northern Ireland).
                    </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="1" name="participant-id" type="participantid-3375">
        <xs:annotation>
          <xs:documentation>Participant Identifier (supplied by Genomics England)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="1" name="date-of-birth" type="xs:date">
        <xs:annotation>
          <xs:documentation>The date on which a PERSON was born or is officially deemed to have been born.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="1" name="surname" type="personfamilyname-321">
        <xs:annotation>
          <xs:documentation>The participant's surname</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="1" name="forenames" type="persongivenname-323">
        <xs:annotation>
          <xs:documentation>The participant's forenames</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="person-identifier-42125">
    <xs:choice>
      <xs:element maxOccurs="1" minOccurs="1" name="nhs-number" type="nhsnumber-3378">
        <xs:annotation>
          <xs:documentation>Validated NHS number for participant</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="1" name="chi-number" type="chinumber-3380">
        <xs:annotation>
          <xs:documentation>The COMMUNITY HEALTH INDEX NUMBER (CHI NUMBER) uniquely identifies a PATIENT on the Community Health Index
                        (Scotland) within the NHS in Scotland. It is the equivalent of the NHS NUMBER in England and Wales.
                    </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="1" name="health-and-care-number" type="healthandcarenumber-42127">
        <xs:annotation>
          <xs:documentation>Validated HEALTH AND CARE NUMBER (H&amp;C NUMBER). Uniquely identifies a PATIENT within the NHS in Northern
                        Ireland. It is the equivalent of the NHS NUMBER in England and Wales.
                    </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="event-details-40374">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" name="event-date" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>Date of the clinical event or observation being reported e.g. date biopsy was taken</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="1" name="event-reference">
        <xs:annotation>
          <xs:documentation>Unique identifier for local record of clinical event or observation</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="related-cancer-diagnoses-40377">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="1" name="related-cancer-diagnosis-icd" type="primarydiagnosisicd-311">
        <xs:annotation>
          <xs:documentation>Cancer diagnoses that led to the reported clinical event. More than one diagnosis can be provided for the same
                        event, e.g. where an event pertains to more than one diagnosis.
                    </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="related-cancer-diagnosis-snomedct" type="diagnosiscodesnomedct-10594">
        <xs:annotation>
          <xs:documentation>Optionally, provide the related cancer diagnosis as SNOMED CT code as well as the ICD code. Related Cancer
                        Diagnosis is the diagnosis that led to the reported clinical event. More than one diagnosis can be provided for the same
                        event, e.g. where an event pertains to more than one diagnosis.
                    </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="morphology-40382">
    <xs:choice>
      <xs:element maxOccurs="1" minOccurs="1" name="morphology-snomed" type="morphology-snomed-42047">
        <xs:annotation>
          <xs:documentation>This is the morphology of the tumour as categorised by SNOMED and the version of SNOMED. Versions of SNOMED
                        prior to SNOMED CT cease to be licenced by The International Health Terminology Standards Development Organisation (IHTSDO)
                        after April 2017 other than for historical content.
                    </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="1" name="morphology-icd" type="morphologyicd-40406">
        <xs:annotation>
          <xs:documentation>The morphology code for the diagnosed cancer as defined by ICDO3. This can be recorded as well as or instead of
                        MORPHOLOGY (SNOMED).
                    </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="1" name="morphology-snomedct" type="morphologysnomedct-407">
        <xs:annotation>
          <xs:documentation>The morphology code for the diagnosed cancer as defined by SNOMED CT. This can be recorded as well as or instead
                        of MORPHOLOGY (ICD).
                    </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="1" name="morphology-snomedrt" type="morphologysnomed-10579">
        <xs:annotation>
          <xs:documentation>The morphology code for the diagnosed cancer as defined by SNOMED RT. This can be recorded as well as or instead
                        of MORPHOLOGY (ICD).
                    </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="morphology-snomed-42047">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" name="morphology-snomed" type="snomed-42181">
        <xs:annotation>
          <xs:documentation>This is the morphology of the tumour as categorised by SNOMED International / SNOMED CT Versions of SNOMED prior
                        to SNOMED CT cease to be licenced by The International Health Terminology Standards Development Organisation (IHTSDO) after
                        April 2017 other than for historical content
                    </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="1" name="snomed-version" type="snomedversion-42050">
        <xs:annotation>
          <xs:documentation>The version of SNOMED used to encode MORPHOLOGY (SNOMED) and TOPOGRAPHY (SNOMED) Versions of SNOMED prior to
                        SNOMED CT cease to be licenced by The International Health Terminology Standards Development Organisation (IHTSDO) after April
                        2017 other than for historical content
                    </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="topography-40383">
    <xs:choice>
      <xs:element maxOccurs="1" minOccurs="1" name="topography-snomed" type="topography-snomed-42051">
        <xs:annotation>
          <xs:documentation>This is the topographical site of the tumour as categorised by SNOMED International / SNOMED CT. Versions of
                        SNOMED prior to SNOMED CT cease to be licenced by The International Health Terminology Standards Development Organisation
                        (IHTSDO) after April 2017.
                    </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="1" name="topography-icd" type="topographyicdo3-414">
        <xs:annotation>
          <xs:documentation>This is the topographical site of the tumour as categorised by ICD03</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="1" name="topography-snomedct" type="topographysnomedct-573">
        <xs:annotation>
          <xs:documentation>This is the topographical site of the tumour as categorised by SNOMED CT.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="1" name="topography-snomedrt" type="topographysnomed-571">
        <xs:annotation>
          <xs:documentation>This is the topographical site of the tumour as categorised by SNOMED RT</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="topography-snomed-42051">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" name="topography-snomed" type="snomed-42181">
        <xs:annotation>
          <xs:documentation>This is the topographical site of the tumour as categorised by SNOMED International / SNOMED CT Versions of
                        SNOMED prior to SNOMED CT cease to be licenced by The International Health Terminology Standards Development Organisation
                        (IHTSDO) after April 2017.
                    </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="1" name="snomed-version" type="snomedversion-42050">
        <xs:annotation>
          <xs:documentation>The version of SNOMED used to encode MORPHOLOGY (SNOMED) and TOPOGRAPHY (SNOMED) Versions of SNOMED prior to
                        SNOMED CT cease to be licenced by The International Health Terminology Standards Development Organisation (IHTSDO) after April
                        2017 other than for historical content
                    </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consent-details-29742">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" name="health-related-additional-findings" type="yesno-3418">
        <xs:annotation>
          <xs:documentation>Health-related additional findings: Does the participant want these looked for and fed back to their clinical
                        team?
                    </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="reproductive-additional-findings" type="yesnonotrelevant-34545">
        <xs:annotation>
          <xs:documentation>Reproductive additional findings: Does the participant want these looked for and fed back to their clinical
                        team?
                    </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="participantid-3375">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:pattern value="\d{9}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="personfamilyname-321">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:pattern value="[a-zA-Z0-9\s\-']{1,50}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="persongivenname-323">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:pattern value="[a-zA-Z0-9\s\-']{1,50}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="nhsnumber-3378">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="10" />
      <xs:pattern value="[0-9]{10}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="chinumber-3380">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:pattern value="[a-zA-Z0-9]{10}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="healthandcarenumber-42127">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:pattern value="[a-zA-Z0-9]{10}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tumourid-42261">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:pattern value="[a-zA-Z0-9]{3,9}_[a-zA-Z0-9]{1,16}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="primarydiagnosisicd-311">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:pattern value="[a-zA-Z0-9.]{3,6}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="diagnosiscodesnomedct-10594">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:pattern value="\d{6,18}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="snomedct-3610">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:pattern value="\d{6,18}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="yesnonk-1026">
    <xs:restriction base="xs:token">
      <xs:enumeration value="Y">
        <xs:annotation>
          <xs:appinfo>
                        <display-text>Yes</display-text>
                    </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="N">
        <xs:annotation>
          <xs:appinfo>
                        <display-text>No</display-text>
                    </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="9">
        <xs:annotation>
          <xs:appinfo>
                        <display-text>Not known</display-text>
                    </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="positivenegativeunknown-3041">
    <xs:restriction base="xs:token">
      <xs:enumeration value="unknown">
        <xs:annotation>
          <xs:appinfo>
                        <display-text>unknown</display-text>
                    </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="negative">
        <xs:annotation>
          <xs:appinfo>
                        <display-text>negative</display-text>
                    </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="positive">
        <xs:annotation>
          <xs:appinfo>
                        <display-text>positive</display-text>
                    </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="yesnounk-3434">
    <xs:restriction base="xs:token">
      <xs:enumeration value="yes">
        <xs:annotation>
          <xs:appinfo>
                        <display-text>Yes</display-text>
                    </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="no">
        <xs:annotation>
          <xs:appinfo>
                        <display-text>No</display-text>
                    </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="unknown">
        <xs:annotation>
          <xs:appinfo>
                        <display-text>Unknown</display-text>
                    </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="yesno-3418">
    <xs:restriction base="xs:token">
      <xs:enumeration value="yes">
        <xs:annotation>
          <xs:appinfo>
                        <display-text>Yes</display-text>
                    </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="no">
        <xs:annotation>
          <xs:appinfo>
                        <display-text>No</display-text>
                    </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="yesnonotrelevant-34545">
    <xs:restriction base="xs:token">
      <xs:enumeration value="yes">
        <xs:annotation>
          <xs:appinfo>
                        <display-text>yes</display-text>
                    </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="no">
        <xs:annotation>
          <xs:appinfo>
                        <display-text>no</display-text>
                    </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="not_relevant">
        <xs:annotation>
          <xs:appinfo>
                        <display-text>not relevant</display-text>
                    </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="morphologyicd-40406">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:pattern value="[a-zA-Z0-9.-\\/]{5,7}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="morphologysnomedct-407">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:pattern value="\d{6,18}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="morphologysnomed-10579">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:pattern value="[a-zA-Z0-9]{6,8}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="snomed-42181">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:pattern value="[a-zA-Z0-9]{6,18}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="snomedversion-42050">
    <xs:restriction base="xs:token">
      <xs:enumeration value="01">
        <xs:annotation>
          <xs:appinfo>
                        <display-text>SNOMED II</display-text>
                    </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="02">
        <xs:annotation>
          <xs:appinfo>
                        <display-text>SNOMED 3</display-text>
                    </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="03">
        <xs:annotation>
          <xs:appinfo>
                        <display-text>SNOMED 3.5</display-text>
                    </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="04">
        <xs:annotation>
          <xs:appinfo>
                        <display-text>SNOMED RT</display-text>
                    </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="05">
        <xs:annotation>
          <xs:appinfo>
                        <display-text>SNOMED CT</display-text>
                    </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="99">
        <xs:annotation>
          <xs:appinfo>
                        <display-text>Not Known</display-text>
                    </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="topographyicdo3-414">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:pattern value="[a-zA-Z0-9.\-\\/]{3,7}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="topographysnomedct-573">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:pattern value="\d{6,18}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="topographysnomed-571">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:pattern value="[a-zA-Z0-9]{6,8}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="yesnounc-772">
    <xs:restriction base="xs:token">
      <xs:enumeration value="Y">
        <xs:annotation>
          <xs:appinfo>
                        <display-text>Yes</display-text>
                    </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="N">
        <xs:annotation>
          <xs:appinfo>
                        <display-text>No</display-text>
                    </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="U">
        <xs:annotation>
          <xs:appinfo>
                        <display-text>Uncertain</display-text>
                    </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="yesno-1193">
    <xs:restriction base="xs:token">
      <xs:enumeration value="Y">
        <xs:annotation>
          <xs:appinfo>
                        <display-text>Yes</display-text>
                    </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="N">
        <xs:annotation>
          <xs:appinfo>
                        <display-text>No</display-text>
                    </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="yesnona-1211">
    <xs:restriction base="xs:token">
      <xs:enumeration value="Y">
        <xs:annotation>
          <xs:appinfo>
                        <display-text>Yes</display-text>
                    </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="N">
        <xs:annotation>
          <xs:appinfo>
                        <display-text>No</display-text>
                    </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="X">
        <xs:annotation>
          <xs:appinfo>
                        <display-text>Not applicable</display-text>
                    </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="locationsurgical-282">
    <xs:restriction base="xs:token">
      <xs:enumeration value="01">
        <xs:annotation>
          <xs:appinfo>
                        <display-text>Frontal lobe</display-text>
                    </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="02">
        <xs:annotation>
          <xs:appinfo>
                        <display-text>Temporal lobe</display-text>
                    </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="03">
        <xs:annotation>
          <xs:appinfo>
                        <display-text>Parietal lobe</display-text>
                    </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="04">
        <xs:annotation>
          <xs:appinfo>
                        <display-text>Occipital lobe</display-text>
                    </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="05">
        <xs:annotation>
          <xs:appinfo>
                        <display-text>Pineal region</display-text>
                    </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="06">
        <xs:annotation>
          <xs:appinfo>
                        <display-text>Hypothalamic</display-text>
                    </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="07">
        <xs:annotation>
          <xs:appinfo>
                        <display-text>Basal ganglia/thalamic</display-text>
                    </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="08">
        <xs:annotation>
          <xs:appinfo>
                        <display-text>Cerebellar</display-text>
                    </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="09">
        <xs:annotation>
          <xs:appinfo>
                        <display-text>Midbrain</display-text>
                    </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="10">
        <xs:annotation>
          <xs:appinfo>
                        <display-text>Pons</display-text>
                    </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="11">
        <xs:annotation>
          <xs:appinfo>
                        <display-text>Medulla</display-text>
                    </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="12">
        <xs:annotation>
          <xs:appinfo>
                        <display-text>Fourth ventricle</display-text>
                    </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="13">
        <xs:annotation>
          <xs:appinfo>
                        <display-text>Third ventricle</display-text>
                    </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="14">
        <xs:annotation>
          <xs:appinfo>
                        <display-text>Lateral ventricle</display-text>
                    </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="15">
        <xs:annotation>
          <xs:appinfo>
                        <display-text>Parasagittal/parafalcine dura</display-text>
                    </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="16">
        <xs:annotation>
          <xs:appinfo>
                        <display-text>Posterior fossa convexity dura</display-text>
                    </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="17">
        <xs:annotation>
          <xs:appinfo>
                        <display-text>Convexity dura</display-text>
                    </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="18">
        <xs:annotation>
          <xs:appinfo>
                        <display-text>Petrous temporal bone</display-text>
                    </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="19">
        <xs:annotation>
          <xs:appinfo>
                        <display-text>Orbital roof</display-text>
                    </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="20">
        <xs:annotation>
          <xs:appinfo>
                        <display-text>Skull vault</display-text>
                    </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="21">
        <xs:annotation>
          <xs:appinfo>
                        <display-text>Scalp</display-text>
                    </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="22">
        <xs:annotation>
          <xs:appinfo>
                        <display-text>Anterior cranial fossa</display-text>
                    </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="23">
        <xs:annotation>
          <xs:appinfo>
                        <display-text>Middle cranial fossa</display-text>
                    </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="25">
        <xs:annotation>
          <xs:appinfo>
                        <display-text>Infratemporal fossa</display-text>
                    </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="26">
        <xs:annotation>
          <xs:appinfo>
                        <display-text>Pterygopalatine fossa</display-text>
                    </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="27">
        <xs:annotation>
          <xs:appinfo>
                        <display-text>Anterior clinoid dura</display-text>
                    </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="28">
        <xs:annotation>
          <xs:appinfo>
                        <display-text>Sphenoid wing dura</display-text>
                    </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="29">
        <xs:annotation>
          <xs:appinfo>
                        <display-text>Subfrontal dura</display-text>
                    </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="30">
        <xs:annotation>
          <xs:appinfo>
                        <display-text>Suprasellar dura</display-text>
                    </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="31">
        <xs:annotation>
          <xs:appinfo>
                        <display-text>Clival dura</display-text>
                    </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="32">
        <xs:annotation>
          <xs:appinfo>
                        <display-text>Cavernous sinus</display-text>
                    </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="33">
        <xs:annotation>
          <xs:appinfo>
                        <display-text>Cerebellopontine angle</display-text>
                    </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="34">
        <xs:annotation>
          <xs:appinfo>
                        <display-text>Jugular bulb</display-text>
                    </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="35">
        <xs:annotation>
          <xs:appinfo>
                        <display-text>Venous angle dura</display-text>
                    </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="36">
        <xs:annotation>
          <xs:appinfo>
                        <display-text>Foramen magnum</display-text>
                    </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="37">
        <xs:annotation>
          <xs:appinfo>
                        <display-text>Cervical intramedullary</display-text>
                    </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="38">
        <xs:annotation>
          <xs:appinfo>
                        <display-text>Cervical intradural</display-text>
                    </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="39">
        <xs:annotation>
          <xs:appinfo>
                        <display-text>Cervical extradural</display-text>
                    </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="40">
        <xs:annotation>
          <xs:appinfo>
                        <display-text>Cervical bony</display-text>
                    </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="41">
        <xs:annotation>
          <xs:appinfo>
                        <display-text>Thoracic intramedullary</display-text>
                    </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="42">
        <xs:annotation>
          <xs:appinfo>
                        <display-text>Thoracic intradural</display-text>
                    </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="43">
        <xs:annotation>
          <xs:appinfo>
                        <display-text>Thoracic extradural</display-text>
                    </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="44">
        <xs:annotation>
          <xs:appinfo>
                        <display-text>Thoracic bony</display-text>
                    </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="45">
        <xs:annotation>
          <xs:appinfo>
                        <display-text>Lumbar intramedullary</display-text>
                    </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="46">
        <xs:annotation>
          <xs:appinfo>
                        <display-text>Lumbar intradural</display-text>
                    </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="47">
        <xs:annotation>
          <xs:appinfo>
                        <display-text>Lumbar extradural</display-text>
                    </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="48">
        <xs:annotation>
          <xs:appinfo>
                        <display-text>Lumbar bony</display-text>
                    </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="98">
        <xs:annotation>
          <xs:appinfo>
                        <display-text>Other</display-text>
                    </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tnmeditionnumber-483">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:pattern value="[a-zA-Z0-9]{1,2}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tcategory-32407">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ncategory-32408">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="mcategory-32406">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="numberoflesionsradiological-268">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:pattern value="\d{1,2}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="genomicsenglandparticipantinformationsheets-3422">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
